<section id=checkrpagetop>
  <div id=toppagebackground>
    
    <navbar id=navbarcheckr1>
      <a href="" class=toplinks>I Am an Applicant</a>
      <a href="" class=toplinks>API & Docs</a>
      <a href="" class=toplinks>About Us</a>
      <a href="" class=toplinks>Careers</a>
    </navbar>

   
    <navbar id=navbarcheckr2>

      <div id=sitename>Checkr</div>

     
       <div class="dropdown">
          <button class="dropbtn">PRODUCT
          <i class="fa fa-caret-down"></i>
          </button>
         <div class="dropdown-content">
            <a href="#">Overview</a>
           <a href="#">Screenings</a>
            <a href="#">Compliance</a>
            <a href="#">Security</a>
         </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">STAFFING 
          <i class="fa fa-caret-down"></i>
         </button>
          <div class="dropdown-content">
            <a href="#">Overview</a>
          </div>
        </div>

       <div class="dropdown">
          <button class="dropbtn">INDUSTRIES 
         <i class="fa fa-caret-down"></i>
          </button>
            <div class="dropdown-content">
              <a href="#">Overview</a>
             <a href="#">contact Centers</a>
              <a href="#">Retail & Hospitality</a>
              <a href="#">Non-Profit</a>
              <a href="#">Manufacturing</a>
              <a href="#">Small Business</a>
              <a href="#">Staffing</a>
              <a href="#">Financial Services</a>
              <a href="#">Healthcare</a>
              <a href="#">On-Demand Economy</a>
              <a href="#">Software & Technology</a>
              <a href="#">P2P Marketplaces</a>
         </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">RESOURCES 
          <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
           <a href="#">Overview</a>
            <a href="#">Guides & White Papers</a>
            <a href="#">FAQ</a>
         </div>
        </div>
        <div id=middle_navbar2></div>
      <div id=lien_login><a href="" >LOG IN</a></div> 
         

      <div id=lien_get_started><a href="" >GET STARTED</a></div>
    </navbar>

    
  
   <div id=middletoppage>
      <div id=toppageleft>
        <p id=middle_top_page_text1>HIRE GREAT PEOPLE. <br />FASTER.</p>
        <p class=middle_top_page_text2>Checkr provides modern and compliant background</p><p class=middle_top_page_text2>checks for global enterprises and startups.</p>
        <div class="top_left_bouton"><p><a href="#">Explore now</a></p></div>
      </div>
      <div id=toppageright>
        <video autoplay loop id=backgroundvideo>
          <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        
      </video>
      </div>
    </div>
  </div>
</section>
<section id=sponsors>
</section>
<section id=caracteristics>
</section>
<section id=photolinks>
</section>
<section id=informations1>
</section>
<section id=informations2>
</section>
<section id=informations3>
</section>
<footer>
</footer>